

@page {
    size: A4;
    margin: 0;
}

html, body{
    margin: 0;
    text-align: center;
    transform-origin: top;
    height: 100%;
}

body{
    //background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/dark_stripes.png);
    overflow-x: hidden;
    //background-image: url(../images/bg.jpg);
}

.web-view{
    .container{
        height: auto !important;
        width: auto !important;
        box-shadow: none !important;
        margin: 0 !important;
        transform: translate(0,0) rotate(0) !important;
    }
    article {
        transform: translate(0,0) rotate(0) !important;
        >div{
            height: 100%;
        }
        background: white;
        position: relative;
    }
}




#preview-image{
    box-shadow: 0px 0px 5px 1px;
}


#table{
    position: fixed;
    width:100%;
    height: 100%;
    background-image: url(../images/retina_wood.png);
    background-color: #EBD5B8;
    background-position: right;

    #left-objects{
        position: fixed;
        left: 0;
        text-align: right;
        height: 100%;

        #pencil{

            height: 30%;
            top: 40%;
            position: absolute;
            right: 0;
        }
        #notebook{
            position: absolute;
            transform: rotate(-10deg);
            height: 60%;
            right: 0;
            top: 20%;
            &:hover{
                transform: rotate(-8deg);
            }
        }
    }
    #right-objects{
        position: fixed;
        right: 0;
        text-align: right;
        height: 100%;

        #coffee{
            height: 20%;
            position: relative;
            top: -2%;
        }
        #keyboard{

            height: 40%;
            top: 20%;
            position: relative;
            margin-left: 10%;
            right: -10%;
        }
    }
}
#documents-place{

    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.rotated{

    -webkit-backface-visibility: hidden;
    transform: rotate(0deg);
    transform-origin: 100% 50%;
    transition: transform 0.5s;
    &:hover{
        transform: rotate(-3deg);
    }
}


@media screen {



    .document-view {
        article {
            >div {
                height: 100%;
            }
            background: white;
            transform-origin: top left;
            position: relative;
            box-sizing: border-box;
            height: 297mm;
            width: 210mm;
            page-break-after: avoid;
            /*page-break-before: avoid;*/
            /*page-break-inside: avoid;*/
            overflow: hidden;
        }
        .container {
            margin: 10px;
            display: inline-block;
            overflow: hidden;
            position: relative;
            box-shadow: 0px 0px 10px 0px;
            transform: translate(0, 0) rotate(0deg);
            transition: transform 1s;
            &.back {
                transform: translate(-4%, -102%) rotate(-2deg);
            }
            &#project{
                height: 671px;
                width: 950px;
                position: fixed;
                z-index: 10;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                box-shadow: 0px 0px 10px 2px;
                .main{
                    padding: 10px 20px 20px 30px;
                }
                article{
                    height: 210mm;
                    width: 297mm;
                }
                .images{
                    div{
                        display: inline-block;
                        background-size: cover;
                        width: 89mm;
                        height: 80mm;
                        margin-right: 5mm;
                        margin-bottom: 5mm;
                        border: 1px solid;
                    }
                }
                header{
                    span{
                        color: black;
                        font-size: 0.8em;
                    }
                    .fa-times{

                        float: right;
                        color: black;
                        height: 7mm;
                        line-height: 7mm;
                        &:hover{
                            color: #00BF67;
                        }
                    }
                    padding: 0;
                    height: 10mm;
                    box-sizing: border-box;
                    display: block;
                    width: auto;
                    margin-top: 0;
                    overflow: hidden;
                    h1{
                        text-align: left;
                        margin: -3.5mm 0mm;
                    }
                }
            }
        }
        #first {
            z-index: 2;
        }
        #second {
            z-index: 1;
        }
    }
}


@media print{
    .container{
        height: 296mm !important;
        width: 210mm !important;
        box-shadow: none !important;
        margin: 0 !important;
        position: relative;
        box-sizing: border-box;
        page-break-after: avoid;
        transform: none !important;
        /*page-break-before: avoid;*/
        /*page-break-inside: avoid;*/
        overflow: hidden;
    }
    .lang{
        display: none;
    }
    article {
        transform: none !important;
    }
}

#preview-shadow{
    display: table;
    padding: 0;
    position: fixed;
    z-index: 111;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    color: white;
    >div{
        display: table-cell;
        vertical-align: middle;
    }

    #preview-image{
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
    }

}
.lang{
    z-index: 100;
    position: fixed;
    right:20px;
    top: 0;

    #view{
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        background: #8BC88B;
        color: white;
        border-radius: 20px;
        overflow: hidden;
        margin: 2px;
        cursor: pointer;
    }
    #print{
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        background: #0e6dc8;
        color: white;
        border-radius: 20px;
        overflow: hidden;
        margin: 2px;
        cursor: pointer;
    }
    #english{
        background-image: url(../icons/eng.png);
        background-size: 100%;
        display: inline-block;
        width:  40px;
        height: 40px;
    }
    #russian{
        background-image: url(../icons/rus.png);
        background-size: 100%;
        display: inline-block;
        width:  40px;
        height: 40px;
    }
}
section{
    clear: both;
}


* {-webkit-print-color-adjust:exact;}


.old{
    padding: 15mm;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;

    p{
        margin: 10px 0;
        text-indent: 15px;
    }
    h1{

        font-size: 26px;
        margin: 0;
    }
    h2 {
         margin: 15px 0px;
     }

    a{
        text-decoration: none;
        color:black;
    }

    .avatar{

        max-height: 150px;
        max-width: 150px;
        margin-left: 20px;
    }

    dt{
        float: left;
        width: 105px;
        &:after{
            content:":";
        }
    }

    .info {
        clear: both;
        >div{
            float: left; width: 50%;
        }
    }
}

.modern{

    text-align: left;
    font-size: 10pt;
    height: 100%;

    h1 {
        text-align: left;
        color:#00BF67;
        position: relative;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 100;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    main{
        padding: 20px 30px 20px 20px;



        .period{

            font-style: italic;
            color: #80B5C1;
            margin-top: 4px;
            display: inline-block;
        }

        h2{
            font-size: 15px;
            margin: 0;
            a{
                font-size: 15px;
                color: #000;
                text-decoration: none;
            }
        }
        a{
            font-size: 10px;
            display: block;
        }
        .job{
            margin-bottom:10px;
            position: relative;
            a{
                text-decoration: none;
                color: black;
            }
            p{
                margin: 0;
            }
            >div:nth-child(2){
                padding-left: 6px;
            }
            >div:first-of-type{
                position: relative;
                &:after {
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    right: 0px;
                    top: 2px;
                    border: 2px solid white;
                    border-radius: 10px;
                    background-color: grey;
                    content: "\f111";
                    font: normal normal normal 14px/1 FontAwesome;
                    color: white;
                    font-size: 11px;
                    text-align: center;
                    line-height: 13px;
                }
                &:before {
                    content: "";
                    width: 1px;
                    top: -3px;
                    bottom: -7px;
                    right: 8px;
                    border-radius: 10px;
                    background-color: #00BF67;
                    position: absolute;
                }
            }
        }
        .job.active > div:first-of-type:after{
            color: #00BF67;
        }
        .job:last-of-type > div:first-of-type:before{
            bottom: 2px;
        }

    }


    .icons{
        text-align: center;
        > span {
            width: 62px;
            display: inline-block;
            margin: 0 2px;
        }
        i.fa {
            background-size: 75%;
            background-position: 50%;
            overflow: hidden;
            width: 50px;
            height: 50px;
            border: 1px solid #00dd56;
            border-radius: 30px;
            font-size: 40px;
            text-align: center;
            line-height: 50px;
        }
    }
    .icons-small{

        /* position: absolute; */
        text-align: center;
        /* right: 0; */
        /* top: 0; */
        margin-top: -1px;
        float: right;
        i.fa {    margin: 2px;
            display: inline-block;
            background-size: 16px;
            background-position: 50%;
            overflow: hidden;
            width: 22px;
            height: 22px;
            //background-color: #D1FFE3;
            border: 1px solid lightgrey;
            border-radius: 12px;
            font-size: 20px;
            text-align: center;
            line-height: 20px;
        }
    }

    i.fa {
        background-size: 16px;
        background-position: 50%;
        background-repeat: no-repeat;

        &.phonegap {
            background-image: url(../icons/phonegap.png);
        }
        &.angular {
            background-image: url(../icons/angular.small.png);
        }
        &.photoshop {
            background-image: url(../icons/photoshop.png);
        }
        &.html5 {
            background-image: url(../icons/html5.small.png);
        }
        &.svg {
            background-image: url(../icons/svg-logo.svg);
            background-size: 40px;
            background-position: 5px 2px;
        }
        &.svg.small {
            background-image: url(../icons/svg-logo.svg);
            background-size: 16px;
            background-position: 2px;
        }
        &.css3 {
            background-image: url(../icons/css3.small.png);
        }
        &.canvas {
            background-image: url(../icons/canvas.small.png);
            background-size: 67%;
            background-position: 50%;
        }
        &.umi.small {
            background-image: url(../icons/umi.small.png);
        }
        &.cpp {
            background-image: url(../icons/cpp.png);
            background-size: 90%;
        }
        &.qt.small {
            background-image: url(../icons/qt.png);
            background-size: 16px;
            background-position: 2px;
        }
        &.nodejs {
            background-image: url(../icons/nodejs.small.png);
        }
        &.qt {
            background-image: url(../icons/qt.png);
            background-size: 40px;
            background-position: 10px;
        }
        &.java {
            background-image: url(../icons/java.small.png);
        }
        &.opengl {
            background-image: url(../icons/opengl.png);
            background-size: 95%;
            background-position: 50%;
        }
        &.mysql {
            background-image: url(../icons/mysql.png);
        }
        &.php {
            background-image: url(../icons/php.small.svg);
            background-size: 90%;
            background-position: 50%;
        }
        &.fire {
            background-image: url(../icons/fire.png);
        }
        &.smoke {
            background-image: url(../icons/smoke.png);
        }

        &.volunteer {
            background-image: url(../icons/volunteer.png);
        }
        &.webgl {
            background-image: url(../icons/WebGL.png);
            background-size: 70px;
            background-position: -5px;
        }
    }


    header{

        width: 10mm;
        background-color: grey;
        background-image: url(../images/cubes.png);
        padding: 5mm !important;

        .avatar{

            margin: auto;
            display: block;
        }
        h1{
            text-align: center;
            font-size: 22px;
            margin-bottom: 0;
            margin-top: 0;
        }
        h2{
            text-align: center;
            font-size: 15px;
            margin-top: 0;
        }
        ul{

            list-style: none;
            padding: 0;
        }
        a{
            color:black;
            text-decoration: none;
        }
        dt {
            float: left;
            font-weight: 600;
            padding-right: 3px;

            i.fa {
                width: 20px;
                text-align: center;
                height: 16px;
            }
        }dd {
             text-align: left;
             -webkit-margin-start: 30px;
             min-height: 17px;
             margin-bottom: 5px;
         }

        h3 {
            text-align: center;
            position: relative;
            &:before  , &:after {
                content: "";
                height: 1px;
                background-color: grey;
                width: 50px;
                position: absolute;
                margin-top: -1px;
                top: 50%;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }

    }

    .notice {
        float: right;
        color: black;
        font-size: 0.6em;
        line-height: 30px;
        text-transform: none;
        i.fa{

            margin-left: 5px;
            font-size: 1.5em;
        }
    }

    &#portfolio{
      .icons-small{
        right: 20px;
        top: 0;
      }
        h2{
            font-size: 18px;
            margin: 10px 0 4px;
        }

        header{
          padding: 15px;
            > .rotated{
                transform: rotate(-90deg);
                transform-origin: left top 0;
                white-space: nowrap;
                margin: -13px;
                position: absolute;
                bottom: 0;
                span{

                    color: black;
                    font-size: 0.8em;
                }
            }
        }

        .work{
            float: left;
            width: 50%;
            padding: 0 20px 10px 0;
          position: relative;

            h3{
                margin: 0;
                font-size: 14px;
                margin-top: -4px;
            }
            .images{
                img{

                    cursor: pointer;
                    margin-right: 5px;
                    max-height: 100px;
                }
            }
        }
    }

}


button, select, html, textarea, input {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.flex {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.layout {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

.layout-row {
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row; }


.flex-35 {
    -webkit-flex: 0 0 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%; }

.layout-row > .flex-35 {
    max-width: 33%;
}


.flex-25 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

.layout-row > .flex-25 {
    max-width: 25%; }
.flex-5 {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%; }

.layout-row > .flex-5 {
    max-width: 5%; }