/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@page {
  size: A4;
  margin: 0;
}
html,
body {
  margin: 0;
  text-align: center;
  transform-origin: top;
  height: 100%;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
body {
  overflow-x: hidden;
}
.web-view .container {
  height: auto !important;
  width: auto !important;
  box-shadow: none !important;
  margin: 0 !important;
  transform: translate(0, 0) rotate(0) !important;
}
.web-view .container#project {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.web-view .container#project article {
  height: 100%;
}
.web-view article {
  transform: translate(0, 0) rotate(0) !important;
  background: white;
  position: relative;
}
.web-view article > div {
  height: 100%;
}
.document-view article {
  height: 100%;
  background: white;
}
#project .main {
  padding: 10px 20px 20px 30px;
}
#project .images div {
  display: inline-block;
  background-size: cover;
  width: 89mm;
  height: 60mm;
  margin-right: 5mm;
  margin-bottom: 5mm;
  border: 1px solid;
}
#project header {
  padding: 0;
  height: 10mm;
  box-sizing: border-box;
  display: block;
  width: auto;
  margin-top: 0;
  overflow: hidden;
}
#project header span {
  color: black;
  font-size: 0.8em;
}
#project header .fa-times {
  float: right;
  color: black;
  height: 7mm;
  line-height: 7mm;
}
#project header .fa-times:hover {
  color: #00BF67;
}
#project header h2 {
  text-align: left;
  margin: -3.5mm 0mm;
}
section {
  clear: both;
}
* {
  -webkit-print-color-adjust: exact;
}
.old {
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
}
.old article {
  padding: 15mm;
}
.old p {
  margin: 10px 0;
  text-indent: 15px;
}
.old h2 {
  font-size: 26px;
  margin: 0;
}
.old h3 {
  margin: 10px 0px;
}
.old a {
  text-decoration: none;
  color: black;
}
.old .avatar {
  max-height: 150px;
  max-width: 150px;
  margin-left: 20px;
}
.old dt {
  float: left;
  width: 105px;
}
.old dt:after {
  content: ":";
}
.old .info {
  clear: both;
}
.old .info > div {
  float: left;
  width: 50%;
}
.old .images img {
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  max-height: 160px;
  max-width: 220px;
  border: 1px solid black;
}
.old .images:after {
  clear: both;
  content: "";
  display: block;
}
.old footer {
  float: right;
  font-style: italic;
}
.modern {
  text-align: left;
  font-size: 11pt;
  height: 100%;
}
.modern a {
  color: black;
}
.modern p {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
.modern h2 {
  text-align: left;
  color: #00BF67;
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 2px;
  line-height: 30px;
}
.modern main {
  position: relative;
  padding: 20px 30px 20px 20px;
}
.modern main .period {
  font-style: italic;
  color: #80B5C1;
  margin-top: 4px;
  display: inline-block;
}
.modern main h3 {
  font-size: 15px;
  margin: 0;
}
.modern main h3 a {
  font-size: 15px;
  color: #000;
}
.modern main .job {
  margin-bottom: 10px;
  position: relative;
}
.modern main .job a {
  color: black;
  font-size: 13px;
  display: block;
}
.modern main .job p {
  white-space: pre-line;
  margin: 0;
}
.modern main .job > div:nth-child(2) {
  padding-left: 6px;
}
.modern main .job > div:first-of-type {
  position: relative;
}
.modern main .job > div:first-of-type:after {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 0px;
  top: 2px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: grey;
  content: "\f111";
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  font-size: 11px;
  text-align: center;
  line-height: 13px;
}
.modern main .job > div:first-of-type:before {
  content: "";
  width: 1px;
  top: -3px;
  bottom: -7px;
  right: 8px;
  border-radius: 10px;
  background-color: #00BF67;
  position: absolute;
}
.modern main .job.active > div:first-of-type:after {
  color: #00BF67;
}
.modern main .job:last-of-type > div:first-of-type:before {
  bottom: 2px;
}
.modern .icons {
  text-align: center;
}
.modern .icons > span {
  width: 62px;
  display: inline-block;
  margin: 0 2px;
}
.modern .icons i.fa {
  background-size: 75%;
  background-position: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 1px solid #00dd56;
  border-radius: 30px;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
}
.modern .icons-small {
  /* position: absolute; */
  text-align: center;
  /* right: 0; */
  /* top: 0; */
  margin-top: -1px;
  float: right;
}
.modern .icons-small i.fa {
  margin: 2px;
  display: inline-block;
  background-size: 16px;
  background-position: 50%;
  overflow: hidden;
  width: 22px;
  height: 22px;
  border: 1px solid lightgrey;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
.modern i.fa {
  background-size: 16px;
  background-position: 50%;
  background-repeat: no-repeat;
}
.modern i.fa.phonegap {
  background-image: url(../icons/phonegap.png);
}
.modern i.fa.angular {
  background-image: url(../icons/angular.small.png);
}
.modern i.fa.photoshop {
  background-image: url(../icons/photoshop.png);
}
.modern i.fa.html5 {
  background-image: url(../icons/html5.small.png);
}
.modern i.fa.svg {
  background-image: url(../icons/svg-logo.svg);
  background-size: 40px;
  background-position: 5px 2px;
}
.modern i.fa.svg.small {
  background-image: url(../icons/svg-logo.svg);
  background-size: 16px;
  background-position: 2px;
}
.modern i.fa.css3 {
  background-image: url(../icons/css3.small.png);
}
.modern i.fa.canvas {
  background-image: url(../icons/canvas.small.png);
  background-size: 67%;
  background-position: 50%;
}
.modern i.fa.umi.small {
  background-image: url(../icons/umi.small.png);
}
.modern i.fa.cpp {
  background-image: url(../icons/cpp.png);
  background-size: 90%;
}
.modern i.fa.qt.small {
  background-image: url(../icons/qt.png);
  background-size: 16px;
  background-position: 2px;
}
.modern i.fa.nodejs {
  background-image: url(../icons/nodejs.small.png);
}
.modern i.fa.qt {
  background-image: url(../icons/qt.png);
  background-size: 40px;
  background-position: 10px;
}
.modern i.fa.java {
  background-image: url(../icons/java.small.png);
}
.modern i.fa.opengl {
  background-image: url(../icons/opengl.png);
  background-size: 95%;
  background-position: 50%;
}
.modern i.fa.mysql {
  background-image: url(../icons/mysql.png);
}
.modern i.fa.php {
  background-image: url(../icons/php.small.svg);
  background-size: 90%;
  background-position: 50%;
}
.modern i.fa.fire {
  background-image: url(../icons/fire.png);
}
.modern i.fa.smoke {
  background-image: url(../icons/smoke.png);
}
.modern i.fa.volunteer {
  background-image: url(../icons/volunteer.png);
}
.modern i.fa.webgl {
  background-image: url(../icons/WebGL.png);
  background-size: 70px;
  background-position: -5px;
}
.modern header {
  width: 10mm;
  background-color: grey !important;
  background-image: url(../images/cubes.png) !important;
  padding: 5mm !important;
}
.modern header.rotated {
  width: 10mm !important;
  padding: 0mm !important;
}
.modern header.rotated > div {
  white-space: nowrap;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 10mm;
  height: 10mm;
  left: 0;
}
.modern header.rotated > div h2 {
  transform: rotate(-90deg);
}
.modern header.rotated > div span {
  color: black;
  font-size: 0.8em;
}
.modern header .avatar {
  margin: auto;
  display: block;
}
.modern header h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 0;
}
.modern header h3 {
  text-align: center;
  font-size: 15px;
  margin-top: 0;
}
.modern header ul {
  list-style: none;
  padding: 0;
}
.modern header a {
  color: black;
  text-decoration: none;
}
.modern header dt {
  float: left;
  line-height: 20px;
  font-weight: 600;
  padding-right: 3px;
}
.modern header dt i.fa {
  background-size: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  height: 20px;
}
.modern header dt i.icon-upwork {
  background-image: url(../icons/upwork.png);
}
.modern header dt i.fa-envelope {
  color: #dc0000;
}
.modern header dt i.fa-linkedin-square {
  color: #00558b;
}
.modern header dt i.fa-facebook-square {
  color: darkblue;
}
.modern header dt i.fa-skype {
  color: #6495ed;
}
.modern header dt i.fa-whatsapp {
  color: green;
}
.modern header dd {
  text-align: left;
  -webkit-margin-start: 30px;
  min-height: 17px;
  margin-bottom: 5px;
  padding-top: 2px;
}
.modern header h4 {
  text-align: center;
  position: relative;
}
.modern header h4:before,
.modern header h4:after {
  content: "";
  height: 1px;
  background-color: grey;
  width: 50px;
  position: absolute;
  margin-top: -1px;
  top: 50%;
}
.modern header h4:before {
  left: 0;
}
.modern header h4:after {
  right: 0;
}
.modern .notice {
  float: right;
  color: black;
  font-size: 0.6em;
  line-height: 30px;
  text-transform: none;
}
.modern .notice i.fa {
  margin-left: 5px;
  font-size: 1.5em;
}
.modern#portfolio .icons-small {
  right: 20px;
  top: 0;
}
.modern#portfolio h3 {
  font-size: 18px;
  margin: 0;
}
.modern#portfolio .work {
  padding: 0 5px 10px 0;
  position: relative;
}
.modern#portfolio .work a {
  color: black;
  font-size: 13px;
  display: block;
  padding-bottom: 3px;
}
.modern#portfolio .work h4 {
  margin: 0;
  font-size: 14px;
  margin-top: -4px;
}
.modern#portfolio .work p {
  margin: 5px 0;
}
.modern#portfolio .work .images img {
  float: right;
  cursor: pointer;
  margin-right: 5px;
  max-height: 145px;
  max-width: 190px;
  border: 1px solid black;
}
button,
select,
html,
textarea,
input {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.flex {
  box-sizing: border-box;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.layout {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.layout-row {
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.flex-60 {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}
.flex-55 {
  -webkit-flex: 0 0 55%;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
}
.flex-70 {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}
.flex-30 {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}
.flex-35 {
  -webkit-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
}
.layout-row > .flex-35 {
  max-width: 35%;
}
.flex-25 {
  -webkit-flex: 0 0 28%;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
}
.layout-row > .flex-28 {
  max-width: 28%;
}
.flex-5 {
  -webkit-flex: 0 0 5%;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
}
.layout-row > .flex-5 {
  max-width: 5%;
}
#card {
  cursor: "pointer";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 111;
}
.card-container {
  transform: rotate(-10deg) translate(50%, -50%);
}
.pre {
  white-space: pre-line;
}
.hexagon {
  margin-bottom: 10px;
  position: relative;
  z-index: 11;
  cursor: pointer;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  width: 224px;
  padding-bottom: 257px;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -o-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
.hexagon * {
  position: absolute;
  visibility: visible;
}
.hexagon:hover > div {
  background-color: #bfe5ff;
}
.hexagon > img {
  -webkit-transition: all all 0.5s ease-out;
  -moz-transition: all all 0.5s ease-out;
  -o-transition: all all 0.5s ease-out;
  transition: all all 0.5s ease-out;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #b2d5ed;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid white;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-backface-visibility: hidden;
  margin-left: -2px;
  display: block;
  line-height: 56px;
}
.hexagon > img:after {
  top: 0;
  left: 0;
  content: "";
  border: 2px solid white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: -50%;
  margin: 0px -3.5px;
  display: block;
  z-index: 11;
  position: absolute;
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
  margin-left: -1px;
  margin-top: -1px;
}
.aiesec header {
  position: relative;
}
.aiesec header:after {
  content: "";
  height: 1cm;
  position: absolute;
  bottom: 0.5cm;
  width: 101%;
  background-size: auto 1cm;
  background-repeat: no-repeat;
  left: 0;
  background-color: #037ef3;
}
.aiesec main:after {
  content: "";
  height: 1cm;
  position: absolute;
  bottom: 0.5cm;
  width: 100%;
  background-image: url(../images/aiesec.png);
  background-size: auto 1cm;
  background-repeat: no-repeat;
  left: 0;
}
