<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="css/font-awesome.min.css" >
    <link rel='stylesheet' href='css/roboto.css'>
    <link rel="stylesheet" href="css/style.css"  >
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-controller="ctrl" class="{{view}}-view">
    <div class="lang">
        <i id="print" class="fa fa-print"     ng-click="print()" ></i>
        <i id="view" class="fa fa-binoculars" ng-click="changeView()" ></i>
        <a href="#" ng-if="lang == 'ru_RU'"   ng-click="setLang('en_US')" id="english"></a>
        <a href="#" ng-if="lang == 'en_US'"   ng-click="setLang('ru_RU')" id="russian"></a>
    </div>

    <div id="preview-shadow" ng-if="preview" ng-click="closePreview()" >
        <div>
            <img id="preview-image" ng-src="portfolio/{{preview.url}}">
            <p>{{preview.description}}</p>
        </div>
    </div>

    <div id="table">

        <div id="left-objects" ng-style="{width: left}">
            <img class="rotated"  src="images/notebook.png" id="notebook">
            <img class="rotated"  src="images/pencil.png" id="pencil">
        </div>

        <div id="right-objects" ng-style="{left: right}">
            <img class="rotated" src="images/coffee.png" id="coffee">
            <img class="rotated"  src="images/keyboard.png" id="keyboard">
        </div>
    </div>
    <!--<div id="documents-place">-->




    <div class="container" id="first">
        <article>
            <div  ng-include="'templates/modern.html'"></div>
        </article>
    </div>

    <div class="container" id="second" >
        <article>
            <div  ng-include="'templates/portfolio.html'"></div>
        </article>
    </div>

    <div class="container" ng-if="old">
        <article>
            <div  ng-include="'templates/old.html'"></div>
        </article>
    </div>

    <div class="container" id="project" ng-show="project">
        <article>
            <div  ng-include="'templates/project.html'"></div>
        </article>
    </div>
    <!--</div>-->
</body>
</html>