<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="font-awesome.min.css" >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="style.css"  >
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="ctrl">
    <div class="lang">
        <a href="#" ng-if="lang == 'en_US'" ng-click="setLang('ru_RU')" id="english"></a>
        <a href="#" ng-if="lang == 'ru_RU'" ng-click="setLang('en_US')" id="russian"></a>
    </div>


    <div class="container" >
        <article ng-include="'templates/modern.html'"></article>
    </div>

    <div class="container">
        <article ng-include="'templates/portfolio.html'"></article>
    </div>

    <div class="container">
        <article ng-include="'templates/old.html'"></article>
    </div>
</body>
</html>