<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="css/font-awesome.min.css" >
    <link rel='stylesheet' href='css/roboto.css'>
    <link rel="stylesheet" href="css/style.css" media="all">
    <link rel="stylesheet" href="css/screen.css" media="screen">
    <link rel="stylesheet" href="css/print.css" media="print">
    <!--<link rel="stylesheet" href="css/card.css" media="screen">-->

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-controller="ctrl" class="{{view}}-view"  ng-app="app">
    <div class="lang">
        <!--<a href="dist/den.ponomarev.en.pdf" id="download" class="fa fa-download"></a>-->
        <i id="print" class="fa fa-print"     ng-click="print()" ></i>
        <i id="view" class="fa fa-binoculars" ng-click="changeView()" ></i>
        <a href="#" ng-if="lang == 'ru_RU'"   ng-click="setLang('en_US')" id="english">
            <span>Change Language<img src="images/arrow.svg"></span>
        </a>
        <a href="#" ng-if="lang == 'en_US'"   ng-click="setLang('ru_RU')" id="russian"></a>
    </div>

    <div id="preview-shadow" ng-if="preview" ng-click="closePreview()" >
        <div>
            <img id="preview-image" ng-src="portfolio/{{preview.url}}">
            <p>{{preview.description}}</p>
        </div>
    </div>

    <div id="table">

        <div id="left-objects" ng-style="{width: left}">
            <img class="rotated"  src="images/notebook.png" id="notebook">
            <img class="rotated"  src="images/pencil.png" id="pencil">
        </div>

        <div id="right-objects" ng-style="{left: right}">
            <!--<div id="card" ng-include="'templates/card.html'"></div>-->
            <img class="rotated" src="images/coffee.png" id="coffee">
            <img class="rotated" src="images/keyboard.png" id="keyboard">
        </div>
    </div>
    <!--<div id="documents-place">-->




    <page data-template='templates/modern.html' id="first"></page>
    <page data-template='templates/portfolio.html' id="second"></page>
    <page data-template='templates/old.html' class='old' ng-if="old"></page>
    <page data-template='templates/old-portfolio.html' rearrange class='old' ng-if="old"></page>
    <!--<page data-template='templates/project.html' class='rotated' id="project" ng-show="showProject"></page>-->



    <!--</div>-->
</body>
</html>