Dear hiring manager,
my name is Denis Ponomarev, I am a 22 years old programmer with 4 years experience raised in Togliatty, Russia.
I graduated half of a year ago and looking for internship to implement and increase my knowledge in web and software development to become high-level professional.
I worked for “GamesInEdu”, company that develop business simulators and educational games  for largest Russian government structures and universities. The client side programming involved HTML5 technologies, like SVG and Canvas and server side involved java, with Java on Back-end. I also developed websites, desktop and mobile applications before using Qt/C++, Java and Android SDK.
I have attached a copy of my resume. I could send you my full portfolio if needed.
If it possible to apply to the internship, I am ready for any difficulties. I  would be glad to be a part of international team in Centralway.
I will be glad to answer any question you might have. Thank you very much for your time.
Sincerely,
Denis Ponomarev.
skype: visceroi
e-mail: visceroi@gmail.com
EP-number : EP-In-RU-TL-2013-80




Interests
I have a passion for learning and will never stop to develop my personal and professional skills. I like to go to conferences for professional programmers.
I like to travel, meet different people. I`ve been a participant in different youth exchange programs, like AIESEC and EVS.
I have organized international events and festivals. I like to do sports like gymnastics, cycling and climbing.  I perform with fireshow.


To whom it may concern,
My name is Denis Ponomarev, I am a 22 years old programmer with more than 4+ years experience, raised in Togliatty, Russia.



What are your three biggest strengths and three biggest weaknesses >
main strengths: my professional skills, passion for learning and sense of purpose, i think that my biggest  weaknesses are trying to do too many things at the same time, Excessive Shyness and low self-esteem sometimes.
Describe a situation where you were completely out of your comfort zone and how you responded.
I had to work on many projects at the same time. last june there were 3 projects at the same time included my diploma thesis, very important project deadline on my job and international training that we orginised in our city. Hard work without free evenings and weekends and delegation of less important tasks to my friends and relatives resolved the situtaion. Ive got the higher grade on my diploma and finished the project on my job.
 

