
    <div class="modern layout layout-row" >

<header class="flex flex-35">
    <svg class="avatar" width="180" height="200" viewBox="0 0 560 645" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1">
        <g>
            <clipPath id="hexagonal-mask">
                <polygon points="270,0 0,160 0,485 270,645 560,485 560,160" />
            </clipPath>
        </g>
        <!--<path d="M270,0 0,160 0,485 270,645 560,485 560,160z"></path>-->
        <!--<a xlink:href="http://www. web-expert.it">-->
        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%" xlink:href="{{data.avatar}}" />
        <!--</a>-->
    </svg>
    <h1></h1>
    <h2></h2>
    <p></p>
    <div>
        <h1>{{data.name}}</h1>
        <h2>{{data.title}}</h2>
        <section>
            <p>{{data.prompt}}</p>
        </section>
        <section>
            <h3>{{'about'| translate}}</h3>
            <a ng-repeat="info in data.info"  ng-href="{{info.href}}">
                <dt>
                    <i ng-if="info.icon" class="fa {{info.icon}}" title="{{info.title}}"></i>
                    {{info.dt}}<span ng-if="info.dt">:</span>
                </dt>
                <dd>{{info.value}}</dd>
            </a>
        </section>
        <section>
            <h3>{{'contacts'| translate}} </h3>
            <a ng-repeat="info in data.contacts" ng-href="{{info.href}}">
                <dt>
                    <i ng-if="info.icon" class="fa {{info.icon}}" title="{{info.title}}"></i>
                    {{info.dt}}
                </dt>
                <dd>{{info.value}}</dd>
            </a>
        </section>
        <section>
            <h3>{{'interests'| translate}}</h3>
            <a ng-repeat="info in data.interests"  ng-href="{{info.href}}">
                <dt>
                    <i ng-if="info.icon" class="fa {{info.icon}}" title="{{info.title}}"></i>
                    {{info.dt}}
                </dt>
                <dd ng-bind="info.value"></dd>
            </a>


            <!--<p>I have a passion for learning and will never stop to develop my personal and professional skills. I like to go to conferences for professional programmers.</p>-->
            <!--<p>Travelling is my passion</p>-->
            <!--<p>I`ve been a participant in different youth exchange programs, organized events with foreign volunteers.</p>-->
            <!--&lt;!&ndash;like AIESEC and EVS&ndash;&gt;-->
            <!--<p>I like Cycling, climbing and perform with fire show.</p>-->


        </section>
    </div>

</header>
<main>
    <section ng-include="'templates/expirience.html'"> </section>
    <section ng-include="'templates/education.html'"></section>
    <section id="skills">
        <h1>{{'strong'|translate}}</h1>
        <div class="icons">
                    <span ng-repeat="skill in data.strong">
                        <i class="fa {{skill.icon}}"></i>
                        {{skill.title}}
                    </span>
        </div>
        <p ng-repeat="row in data.strong_description" ng-bind-html="row"></p>
        <h1>{{'weak'|translate}}</h1>
        <div class="icons">
                    <span ng-repeat="skill in data.weak">
                        <i class="fa {{skill.icon}}"></i>
                        {{skill.title}}
                    </span>
        </div>
        <p ng-repeat="row in data.weak_description" ng-bind-html="row"></p>
        <!--<i class="fa fa-chrome"></i>-->
        <!--<i class="fa fa-firefox"></i>-->
        <!--<i class="fa fa-opera"></i>-->
        <!--<i class="fa fa-safari"></i>-->
        <!--<i class="fa fa-internet-explorer"></i>-->
        <!--<i class="fa fa-android"></i>-->
        <!--<i class="fa fa-apple"></i>-->

    </section>
</main>

</div>