<div class="modern" >
    <header style="height: 10mm;">
        <h1>{{data.name}}
            <!--<span>/ {{data.title}}</span> -->
            <span>/ {{project.title}}
        </span>
        <span class="fa fa-times" ng-click="closeProject()"></span></h1>
    </header>
    <main>
        <h1>
            {{project.title}}

            <div class="icons-small">
                <i ng-repeat="skill in project.skills" class="fa {{skill}} small"></i>
            </div>

        </h1>
        <h3>{{project.company}} <span ng-if="project.company && project.begin">/</span>
                <span class="period">
                    <time datetime="{{project.begin}}">{{project.begin.getFullYear()}}</time>
                    <span ng-if="project.end && project.begin.getFullYear() != project.end.getFullYear()"> -
                        <time datetime="{{project.end}}">{{project.end.getFullYear()}}</time>
                    </span>
                     <span ng-if="!project.end"> -
                        today
                    </span>
                </span>
        </h3>

        <p>{{project.description}}</p>
        <div class="images">
            <div ng-repeat="img in project.images_full" ng-style="{'background-image': 'url(portfolio/' + (img.url || img) + ')'}" ng-click="previewImage(img)"></div>
        </div>

    </main>
</div>