<div class="modern layout layout-row">
    <header class="flex flex-35"  ng-include="'templates/modern-sidebar.html'"></header>
    <main class="flex">
        <h1>{{'expirience'|translate}}</h1>
        <section expirience="data.jobs"></section>
        <h1>{{'education'|translate}}</h1>
        <section expirience="data.edus"></section>
        <h1>{{'strong'|translate}}</h1>
        <section id="skills">
            <div class="icons">
                    <span ng-repeat="skill in data.strong">
                        <i class="fa {{skill.icon}}"></i>
                        {{skill.title}}
                    </span>
            </div>
            <p ng-repeat="row in data.strong_description" ng-bind-html="row"></p>
            <h1>{{'weak'|translate}}</h1>
            <div class="icons">
                    <span ng-repeat="skill in data.weak">
                        <i class="fa {{skill.icon}}"></i>
                        {{skill.title}}
                    </span>
            </div>
            <p ng-repeat="row in data.weak_description" ng-bind-html="row"></p>
            <!--<i class="fa fa-chrome"></i>-->
            <!--<i class="fa fa-firefox"></i>-->
            <!--<i class="fa fa-opera"></i>-->
            <!--<i class="fa fa-safari"></i>-->
            <!--<i class="fa fa-internet-explorer"></i>-->
            <!--<i class="fa fa-android"></i>-->
            <!--<i class="fa fa-apple"></i>-->

        </section>
    </main>

</div>