
<div  id="portfolio" class="modern layout layout-row">

    <header class="" ng-click="sendToFront()" style="cursor: pointer">
        <div class="rotated">
            <h1>{{data.name}}
                <!--<span>/ {{data.title}}</span> -->
                <span>/ {{'portfolio'|translate}}
                </span></h1>
        </div>
    </header>
    <main  class="flex">
        <h1>{{'portfolio'|translate}}
            <span class="notice" >
                <span ng-bind-html="'more'|translate"></span>
                <i class="fa fa-github-square"></i>
                <i class="fa fa-linkedin-square"></i>
            </span>
        </h1>

        <div ng-repeat="work in data.works" class="work layout layout-row" ng-class="{active: !work.end}" ng-hide="work.hide">

            <div class="flex">
                <a href="#" ng-click="setProject(work)">
                    <h2>
                        {{work.title}}
                    </h2>
                </a>
                <a ng-if="work.href_title" target="_blank" ng-href="{{work.href}}">{{work.href_title}}</a>
                <h3>{{work.company}} <span ng-if="work.company && work.begin">/</span>
                        <span class="period">
                            <time datetime="{{work.begin}}">{{work.begin.getFullYear()}}</time>
                            <span ng-if="work.end && work.begin.getFullYear() != work.end.getFullYear()"> -
                                <time datetime="{{work.end}}">{{work.end.getFullYear()}}</time>
                            </span>
                             <span ng-if="!work.end"> -
                                today
                            </span>
                        </span>
                </h3>

                <p>{{work.description}}</p>
            </div>

            <div class="flex flex-60 images">
                <!--<div style="float: right; width: 50%;">-->
                    <img  ng-repeat="img in work.images"  ng-src="portfolio/{{img.url || img}}" ng-click="previewImage(img)" alt="{{img.description}}">
                <!--</div>-->
            </div>
        </div>

    </main>
</div>