
<div  id="portfolio" class="modern layout layout-row">

    <header class="flex" ng-click="sendToFront()" style="cursor: pointer">
        <div class="rotated">
            <h1>{{data.name}}
                <!--<span>/ {{data.title}}</span> -->
                <span>/ {{'portfolio'|translate}}
                </span></h1>
        </div>
    </header>
    <main>
        <h1>{{'portfolio'|translate}}<span class="notice">{{'more'|translate}}<i class="fa fa-github-square"></i><i class="fa fa-linkedin-square"></i></span></h1>

        <div ng-repeat="work in data.works" class="work layout layout-row" ng-class="{active: !work.end}" ng-hide="!web && work.hide">

            <div>
                <h2>
                    <a href="#" ng-click="setProject(work)">
                            {{work.title}}
                    </a>
                </h2>
                <h3>{{work.company}} <span ng-if="work.company && work.begin">/</span>
                        <span class="period">
                            <time datetime="{{work.begin}}">{{work.begin.getFullYear()}}</time>
                            <span ng-if="work.end && work.begin.getFullYear() != work.end.getFullYear()"> -
                                <time datetime="{{work.end}}">{{work.end.getFullYear()}}</time>
                            </span>
                             <span ng-if="!work.end"> -
                                today
                            </span>
                        </span>
                </h3>

                <p>{{work.description}}</p>
                <div class="images">
                    <img img-preload ng-repeat="img in work.images" ng-src="portfolio/{{img.url || img}}" ng-click="previewImage(img)" alt="{{img.description}}">
                </div>
            </div>
        </div>

    </main>
</div>